/* src/components/Formulario.css */
.formulario-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.formulario-container h2 {
  text-align: center;
  color: #333;
}

.permisos-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: flex-start; /* Alinea los paneles en la parte superior */
  margin-top: 20px;
}

.permisos-container .panel {
  flex: 1; /* Permite que cada panel ocupe el mismo espacio */
  max-width: 45%; /* Asegura que no ocupen todo el ancho y deja espacio para el separador */
}

.separador {
  width: 2px; /* Grosor del separador */
  height: 100%; /* Ocupa toda la altura del contenedor */
  background-color: #ccc;
}